*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#eef3fb;
}

.login-card{

width:380px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.12);

}

.login-card h1{

text-align:center;

color:#2563eb;

margin-bottom:10px;

}

.login-card p{

text-align:center;

margin-bottom:25px;

}

input{

width:100%;

padding:14px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

}

button{

width:100%;

padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#1d4ed8;

}

#message{

margin-top:20px;

color:red;

font-size:14px;

text-align:center;

}
